body {
	height: 100%;
}
.width_100 {
	width: 100%;
}
.height_100 {
	height: 100%;
}
.height_120px {
	height: 120px;
}
.height_96px {
	height: 96px;
}
.width_96px {
	width: 96px;
}
.display-inline {
	display: inline;
}
.margin_left_30px {
	margin-left: 30px;
}
.margin_bottom_30px {
	margin-bottom: 30px;
}
.float-left {
	float: left;
}
.position-absolute {
	position: absolute;
}
.card_1 {
	left: 15px;
}
.card_2 {
	left: 30px;
}
.card_3 {
	left: 45px;
}
.card_4 {
	left: 60px;
}
.card_5 {
	left: 75px;
}
.card_6 {
	left: 90px;
}
.card_7 {
	left: 105px;
}
.card_8 {
	left: 120px;
}
.card_9 {
	left: 135px;
}
.card_10 {
	left: 150px;
}
.card_11 {
	left: 165px;
}
.card_12 {
	left: 180px;
}
.card_13 {
    left: 195px;
}
.card_14 {
    left: 210px;
}
.card_15 {
    left: 225px;
}
.card_16 {
    left: 240px;
}
.card_17 {
    left: 255px;
}
.card_18 {
    left: 270px;
}
.card_19 {
    left: 285px;
}
.card_20 {
    left: 300px;
}
.card_21 {
    left: 315px;
}
.card_22 {
    left: 330px;
}
.card_23 {
    left: 345px;
}
.card_24 {
    left: 360px;
}
.card_25 {
    left: 375px;
}
.card_26 {
    left: 390px;
}
.card_27 {
    left: 405px;
}
.card_28 {
    left: 420px;
}
.card_29 {
    left: 435px;
}
.card_30 {
    left: 450px;
}
.card_31 {
    left: 465px;
}
.front-player-card-0 {
	right: 15px;
}
.front-player-card-1 {
	right: 30px;
}
.front-player-card-2 {
	right: 45px;
}
.front-player-card-3 {
	right: 60px;
}
.front-player-card-4 {
	right: 75px;
}
.front-player-card-5 {
	right: 90px;
}
.left-player-card-0 {
	top: 15px;
}
.left-player-card-1 {
	top: 30px;
}
.left-player-card-2 {
	top: 45px;
}
.left-player-card-3 {
	top: 60px;
}
.left-player-card-4 {
	top: 75px;
}
.left-player-card-5 {
	top: 90px;
}
.right-player-card-0 {
	bottom: 15px;
}
.right-player-card-1 {
	bottom: 30px;
}
.right-player-card-2 {
	bottom: 45px;
}
.right-player-card-3 {
	bottom: 60px;
}
.right-player-card-4 {
	bottom: 75px;
}
.right-player-card-5 {
	bottom: 90px;
}
.deck {
	cursor: pointer;
}
.card {
	cursor: pointer;
}