<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/main.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<title>101 Game | Home</title>
<script src="js/sockjs-0.3.4.js"></script>
<script src="js/stomp.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/lodash.min.js"></script>
<script src="js/app.js" type="text/javascript"></script>
<script src="js/controllers.js" type="text/javascript"></script>
<script src="js/home_controller.js" type="text/javascript"></script>
<script src="js/services.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body data-ng-app="gameApp">
	<div th:replace="fragments/header :: header"></div>
	<div data-ng-controller="HomeController" class="container-fluid height_100">
		<div class="row height_100">
			<div id="containerLeft" class="col-md-2 col-sm-6 height_100 border_red">
			    <div dynamic="leftContent"></div>
			</div>
			<div id="containerRight" class="col-md-10 col-sm-6 height_100 border_red">
			    <div dynamic="rightContent"></div>
			</div>
		</div>
	</div>
</body>
</html>